.Chooser{
    background-color: var(--color-background-14);
    width: 100%;
    min-height: 100vh;
    padding: 30px 50px 0 50px;
    z-index: 1;
    position: sticky;
    &_header h2{
        color: rgb(105, 105, 255);
        margin-bottom: 50px;
    }
    &_body{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        .loading_screen{
            position: absolute;
            top: 40%;
            right: 50%;
        }
        &_item{
            min-width: 360px;
            &:hover{
           margin-top: -5px;
           transition: .5s;
            }
            border-radius: 20px;
            background-color: white;
            display: flex;
            box-shadow: 0px 0px 10px rgb(196, 196, 196);
            &_img img{
                border-right: 1px solid rgb(234, 234, 234);
                min-width: 150px;
                max-width: 150px;
                max-height: 150px;
                min-height: 150px;
                border-radius: 20px 0 0 20px;
                
            }
            &_info{
                width: 100%;
                border-radius: 0px 20px 20px 0 ;
               
                padding: 10px 15px;
                &_title{
                    font-weight: bolder;
                    font-size: 32px;
                    color: #6d6d6d;
                    font-family: "Coiny", system-ui;
                }
                &_desc{
                    
                }
            }

        }
        
    }
}