.rank {
  background-color: var(--color-background-14);
    width: 100%;
    min-height: 100vh;
    padding: 30px 50px 0 50px;
    z-index: 1;
    position: sticky;
  &__title {
    padding: 20px 30px;
    h1 {
      font-family: "Coiny", system-ui;
      color: var(--color-text-4);
      font-size: var(--size-text-16);
    }
  }
  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 10px 30px;
    &--box {
      width: 50%;
      position: relative;
      &--list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        &__item--warn{
          text-align: center;
          padding: 20px;
          font-size: 25px;
      }
        .loading_screen{
          position: absolute;
          right: 50%;
        }
        &__item {
          margin-bottom: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          background-color: var(--color-background-6);
          padding: 10px 25px;
          border-radius: var(--border-radius-size-2);
          &--left {
            color: var(--color-text-1);
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 15%;
            font-size: var(--size-text-6);
            font-weight: 400;
            &__ord {
              margin-right: 20px;
              &--number {
                background-color: var(--color-background-3);
                width: 40px;
                height: 40px;
                border-radius: var(--border-radius-size-6);
                text-align: center;
                padding: 5px 0;
                font-weight: 600;
              }
            }
            &__name {
              &--text {
                font-weight: 600;
                font-family: "Montserrat", sans-serif;
                font-size: var(--size-text-6);
              }
            }
          }
          &--right {
            display: flex;
            align-items: center;

            &__score {
              color: var(--color-text-5);
              font-size: var(--size-text-10);
              font-weight: 600;
            }
            &__medal {
              img {
                width: 40px;
              }
            }
          }
        }
      }
    }
    &--level {
      width: 40%;
      &__announce{
        background-color: var(--color-background-1);
        padding: 30px;
        border-radius: var(--border-radius-size-5);
        &--title{
          font-size: var(--size-text-14);
          font-weight: 600;
        }
        &--text{
          color: var(--color-text-16);
          margin-top: 5px;
        }
        &--img{
          margin-top: 20px;
          img{
            width: 183px;
            height: 138px;
          }
        }
      }
    }
  }
}