@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alike&family=Coiny&display=swap');
//!  RESET STYLE 
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
}
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  color: black;
  scroll-behavior: smooth;
}
.container{
  max-width: none !important;
  padding: 0;
}
a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none !important;
  color: #000 !important;
}
a:hover{
  text-decoration: none !important;

}
ul{
  margin: 0 !important;
  padding: 0;
}
button,
input {
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

//! ROOT

:root {
  --color-background-0: #000;
  --color-background-1: #fff;
  --color-background-2: #aee7f9;
  --color-background-3: #62c7f3;
  --color-background-4: #3d6194;
  --color-background-5: #4b4b4b;
  --color-background-6: #81abdf;
  --color-background-7: #5c7dac;
  --color-background-8: #45e9ff;
  --color-background-9: #90cdf3;
  --color-background-10: #fb0f0f;
  --color-background-11: #b0d8e6;
  --color-background-12: #eaddb5;
  --color-background-13: #fe8760;
  --color-background-14: #C0EDFC;
  --color-background-15: #c0edfce6;


  /* List color text */ 
  --color-text-0: #000000;
  --color-text-1: #fff;
  --color-text-2: #aee7f9;
  --color-text-3: #62c7f3;
  --color-text-4: #3d6194;
  --color-text-5: #4b4b4b;
  --color-text-6: #81abdf;
  --color-text-7: #5c7dac;
  --color-text-8: #45e9ff;
  --color-text-9: #90cdf3;
  --color-text-10: #fb0f0f;
  --color-text-11: #b0d8e6;
  --color-text-12: #eaddb5;
  --color-text-13: #fe8760;
  --color-text-14: #C0EDFC;
  --color-text-15: #c0edfce6;

  /* List text size */
  --size-text-0: 6px;
  --size-text-1: 8px;
  --size-text-2: 10px;
  --size-text-3: 12px;
  --size-text-4: 14px;
  --size-text-5: 16px;
  --size-text-6: 20px;
  --size-text-7: 24px;
  --size-text-8: 26px;
  --size-text-9: 27px;
  --size-text-10: 28px;
  --size-text-11: 29px;
  --size-text-12: 18px;

  /* List border radius */
  --border-radius-size-0: 6px;
  --border-radius-size-1: 8px;
  --border-radius-size-2: 12px;
  --border-radius-size-3: 14px;
  --border-radius-size-4: 16px;
  --border-radius-size-5: 20px;
  --border-radius-size-6: 999px;
}
html{
  font-size: 16px;
}
body{
  font-family: "Roboto", sans-serif;
  // font-family: "Montserrat", sans-serif;
  // font-family: "Coiny", system-ui;
  line-height: 1.5;
}
//! components
.shadow {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
}
.row-max-width {
  width: 100%;
  max-width: 1160px;
  margin: auto;
}
.backBtn{
  text-align: center;
  svg{
    width: 30px;
    height: 30px;
  }
} 
.container .content{
  padding: 0;
  margin: 0;
}