.sidebar{
    border-right: 0.5px solid lightgray;
    min-height: 100vh;
    background-color: white;
    width: 250px;
    padding: 25px;
    .top{
        height: 60px;
    }

    .logo{
        width: 50px;
        height: 50px;
        border-radius: 99rem;
    }
    hr{
        height: 0;
        border: 0.5px solid rgb(223 223 223);
    }
    .user{
        display: flex;
        align-items: center;
        margin: 15px 0;

        span{
            margin-left: 20px !important;
            font-size: 20px;
        }
    }
    .center{

        ul{
            list-style: none;
            margin: 0;
            padding: 0;


            .title{
                font-size: 10px;
                font-weight: bold;
                color: #999;
                margin-top: 15px;
                margin-bottom: 5px;
            }

            li{
                display: flex;
                align-items: center;
                padding: 15px 5px;
                cursor: pointer;

                &:hover{
                    background-color: #9786ee75;
                }

                .icon{
                    font-size: 25px;
                    color: blue;
                    margin-right: 10px;
                }

                span{
                    font-size: 20px;
                    font-weight: 600;
                    color: #888;
                    margin-left: 10px;  
                }
            }
        }

    }
}






