.popup{
        top: 0;
        left: 0;
        position: fixed;
        z-index: 6;
        background-color: #21212121;
        width: 100%;
        height: 100vh;
        border: 0;
}
.close-Popup{
        width: 20px;
        height: 30px;
        padding: 20px;
        color: black;
}
dialog{
        // border: 0;

}
.banner{
        position: relative;
}
.banner-btn{
        position: absolute;
        top:0
}
