.word_scramble {
    width: 100%;
    color: var(--color-text-4);
    position: relative;
    font-family: "Coiny", system-ui;
    height: 100vh;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-background-2);

  &--header{
      background: #83e0fa;
      width: 100%;
      padding: 10px 30px;
        h1 {
            margin: 0;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--color-background-1);
        }
    }

   

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
        width: 100%;
        position: relative;
        height: 80vh;
        .scrambled_word {
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1rem;
            margin-top: 10px;
            
        }
        .board {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            justify-content: center;
            padding-bottom: 20px;
            .square_bg {
                background-color: #80a2d3;
                width: 30px;
                height: 40px;
                font-size: 18px;
                text-transform: uppercase;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                color: var(--color-text-1);
                font-weight: 600;
            }
        }
        .scramble_suggestion{
            color: var(--color-text-16);
            width: 50%;
            text-align: center;
            font-family: "Montserrat", sans-serif;
        }
        .field {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 80%;
            gap: 10px;
            margin-top: 10px;
                input{width: 20%;
                    padding: 10px 20px;
                    background-color: var(--color-background-1);
                    border-radius: var(--border-radius-size-5);
                    &::placeholder {
                    
                    padding-left: 10px;
                }}
                
            button {

                width: 8%;
                padding: 10px 0;
                color: var(--color-text-4);
                background-color: var(--color-background-3);
                    border-radius: var(--border-radius-size-4);
            }
        }
        .message {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            p {
                color: var(--color-text-4);
                font-weight: 600;
                font-size: 20px;
                margin: 0;
                
            }
        }

        .scramble_button{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-top: 10px;
            .start_game {
                margin-top: 20px;
                background-color: var(--color-background-4);
                color: var(--color-background-1);
                padding: 20px 25px;
                width: 20%;
                font-size: var(--size-text-7);
                border-radius: var(--border-radius-size-5);
                &:first-child{
                    margin-right: 20px;
                }
                // &.new {
                //     position: absolute;
                //     width: 50%;
                //     bottom: 50px;
                // }
            }
        }
    }
}