.profileStudent {
  width: 100%;
  min-height: 100vh;
  padding: 30px 50px 0 50px;
  z-index: 1;
  position: sticky;
  font-family: "Montserrat", sans-serif;
  display: flex;

  &__left {
    flex: 8 1;

    &--personal {
      background-color: white;
      border-radius: var(--border-radius-size-5);
      justify-content: space-around;
      display: flex;
      align-items: flex-start;
      box-shadow: 0px 9px 0px rgba(0, 0, 0, 0.5);
      padding: 23px 25px;
      margin-bottom: 24px;

      &__ava {
        height: 226px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        position: relative;
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 50%, rgba(254, 190, 168, 1) 71%, rgba(254, 135, 96, 1) 84%, rgba(254, 135, 96, 1) 100%);
        min-width: 30%;
        text-align: center;

        &--img {

          img {
            border-radius: 50%;
            border: 3px solid white;
            max-width: 200px;
            max-height: 200px;
            position: static;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 6px;
          }
        }

        &--button {
          position: absolute;
          bottom: -20px;
          right: -20px;

          img {
            width: 50px;
          }
        }
      }

      &__info {
        &--name,&--email,&--role{
          display: flex;
          justify-content: space-between;
        }
        &--name {
          color: var(--color-text-4);
          font-size: 40px;
          font-weight: 900;
          margin-bottom: 5px;
        }

        &--email {
          color: var(--color-text-4);
          font-weight: 600;
          margin-bottom: 10px;
          font-size: var(--size-text-6);
        }

        &--role {
          color: var(--color-text-4);
          font-weight: 600;
          margin-bottom: 10px;
          font-size: var(--size-text-6);
        }

        &--level {
          color: var(--color-text-18);
          background-color: var(--color-background-8);
          width: 50%;
          padding: 5px 10px;
          border-radius: var(--border-radius-size-5);
          font-weight: 800;
          margin-bottom: 20px;
          text-align: center;
          font-size: var(--size-text-12);
        }

        &--date {
          color: var(--color-text-4);
          font-weight: 800;
          font-size: var(--size-text-6);
        }
      }

      &__edit {
        margin-top: 10px;

        &--btn {
          svg {
            width: 35px;
            height: 35px;
            color: var(--color-text-4);
          }
        }
      }
    }

    &--statistical {
      margin-top: 50px;

      &__title {
        h1 {
          font-weight: 600;
        }
      }

      &__list {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 20px;

        &--item {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 15px 24px;
          border: 2px solid var(--color-text-19);
          border-radius: var(--border-radius-size-4);
          margin-right: 20px;

          &__img {
            margin-right: 10px;

            img {
              width: 21px;
              color: var();
            }
          }

          &__content {
            margin-left: 5px;

            &--top {
              font-weight: 600;
            }

            &--bottom {
              color: #afafaf;
            }
          }
        }

      }
    }
  }

  &__right {
    width: 30%;
    margin-left: 20px;

    &--content {
      padding: 20px;
      border: 2px solid var(--color-text-19);
      border-radius: var(--border-radius-size-4);
      font-size: var(--size-text-14);

      &__week {
        display: flex;
        align-items: start;
        justify-content: space-between;
        margin-bottom: 20px;

        &--left {
          color: var(--color-text-4);
          font-weight: 600;
        }

        &--right {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &__ord {
            margin-right: 10px;
            font-weight: 600;
          }

          &__img {}
        }
      }

      &__socre {
        color: var(--color-text-4);
        font-weight: 600;

        &--title {}

        &--content {}
      }
    }
  }
}