.answerStudent {
  height: 100vh;
  background-color: var(--color-background-2);
  position: sticky;
  z-index: 1;
  &__header {
    background-color: var(--color-background-14);
    padding: 10px 0;
    &--wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: var(--size-text-6);
      font-family: "Coiny", system-ui;
      color: var(--color-text-4);
    }
    // &--number {
    //   &__item {
    //   }
    //   &__total {
    //   }
    // }
    // &--score {
    //   &__text {
    //   }
    //   &__number {
    //   }
    // }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &--top{
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1060px;
      margin: auto;
      height: 100%;
      padding-top: 40px;
      padding-bottom: 15px;
      &__img {
        img {
          max-height: 500px;
          width: 80%;
        }
      }
      &__question {
        &--box {
          background-color: var(--color-background-1);
          padding: 40px 40px;
          border-radius: var(--border-radius-size-4);
          ::before {
          }
          &__fill {
          }
          &__text {
            font-size: var(--size-text-7);
            font-weight: 600;
          }
        }
    }
    }
    &--bottom {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      &__list {
        display: flex;
        flex-wrap: wrap;
        max-width: 1060px;
        align-items: center;
        justify-content: space-between;
        &--item {
          margin: 20px;
          width: 40%;
          button {
            background-color: var(--color-background-1);
            padding: 25px 50px;
            width: 100%;
            border-radius: var(--border-radius-size-4);
            font-size: var(--size-text-6);
            font-weight: 600;
          }
          
        }
      }
      &__btnNext{
          width: 95%;
          text-align: center;
          margin-top: 20px;
          button {
            padding: 20px 25px;
            background-color: var(--color-background-3);
            border-radius: var(--border-radius-size-5);
            color: var(--color-text-4);
            font-weight: 800;
            font-size: var(--size-text-7);
            width: 100%;
          }
      }
    }
  }
}
.corrext{
  background-color: #dffff2;
  border-color:#00d397;
 }
 .wrong{
  background-color: #ffebeb;
  border-color:#ff4a4a;
 }