.pet {
    background-color: #f5f5f5;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    z-index: 1;
    position: sticky;

    &_background {
        position: absolute;
        width: calc(100vw - 260px);
        height: -webkit-fill-available;
        height: 100vh;
    }

    &_container_top {
        position: relative;
        padding: 18px;
        height: 50vh;
        border-radius: 10px;

        &_box_wrapper {
            position: absolute;
            right: 32%;
            top: 42%;

            &_inner {
                max-width: 250px;

                img {
                    width: 100%;
                }
            }
        }
    }

    &_container_bottom {
        overflow: hidden;
        width: 100%;
        transition: 1s all ease;
        width: 100%;

        &_ul {
            position: absolute;
            overflow-x: scroll;
            display: flex;
            gap: 10px;
            scrollbar-width: none;
            /* Firefox */
            -ms-overflow-style: none;
            /* IE and Edge */

            &::-webkit-scrollbar {
                display: none;
                /* Chrome, Safari, Opera */
            }

            &_li {
                flex: 0 0 auto;
                width: 20%;
                padding: 20px 10px;
                box-sizing: border-box;

                &_product {
                    transition: all .3s ease;

                    &_img {
                        text-align: center;
                        position: relative;
                        overflow: hidden;

                        &:hover {
                            .pet_container_bottom_ul_li_product_img_action {
                                opacity: 1;
                                visibility: visible;
                            }
                        }

                        img {

                            width: 65%;
                            transition: all .7s ease;
                        }

                        .pet_container_bottom_ul_li_product_img_action {

                            opacity: 0;
                            visibility: hidden;
                            background-color: #fff;
                            box-shadow: 0 .3px 7px #0003;
                            display: flex;
                            justify-content: center;
                            left: 50%;
                            padding: 13px 0 11px;
                            position: absolute;
                            top: 60%;
                            transform: translate(-50%, -50%);
                            transition: all .6s ease;
                            overflow: hidden;
                            border-radius: 50%;

                            img {
                                width: 100%;
                                object-fit: contain;
                                z-index: 3;
                            }

                        }
                    }

                    &_content {
                        margin-top: 5px;
                        background-color: white;
                        padding: 6px;
                        border-radius: 30px;

                        &_title {
                            font-size: 20px;
                            font-weight: 500;
                            margin: 0 0 10px;
                            letter-spacing: .08px;
                        }

                        &_desc {
                            font-weight: 400;
                            font-style: normal;
                            font-size: 14px;
                            color: #383838;

                            .exp {
                                font-weight: 500;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

.pet_canvas {
    height: 50vh;
    width: 100%;
    bottom: -10vh;
    z-index: 3;
    position: absolute;
    left: 0;
    display: none;
}


.pet-level {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .level-bar {
    width: 200px;
    height: 20px;
    background-color: #ccc;
    position: relative;
    margin-right: 10px;
  }
  
  .level-progress {
    height: 100%;
    background-color: #4CAF50;
  }
  
  .level-info {
    display: flex;
    flex-direction: column;
  }
  
  .level-info span {
    margin-bottom: 5px;
  }
  
  .level-number {
    font-weight: bold;
  }
  