.historyStudent {
  position: relative;
  top: 0;
  &__background {
    
    height: 100%;
    z-index: -100;
    width: 100%;
    background-color: #c7eefc;
    position: fixed;
    &_item{
      position: absolute;
      width: 33%;
      bottom: -78px;
      right: 126px;
    }
  }
  &__title {
    padding: 20px 30px;
    h1 {
      font-family: "Coiny", system-ui;
      color: var(--color-text-4);
      font-size: var(--size-text-16);
    }
  }
  &__content {
    &--list {
      display: flex;
      gap: 13px;
      margin: 0 30px;
      flex-wrap: wrap;
      &__item {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: var(--color-background-1);
        width: 24%;
        height: 100%;
        min-height: 438px;
        border-radius: var(--border-radius-size-5);
        padding: 20px 30px;
        color: var(--color-text-4);
        // font-family: "Coiny", system-ui;
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
        &--title {
          font-size: var(--size-text-13);
          min-height: 100px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          border-bottom: 1px solid var(--color-background-4);
          width: 100%;
        }
        &--body {
          padding: 20px 0;
          width: 100%;
          border-bottom: 1px solid var(--color-background-4);
          &__row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &--col {
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-size: var(--size-text-6);
             
              &__left{
                display: flex;
                flex-direction: column;
                gap: 10px;
              }
              
              
            }
          }
        }
        &--btn {
          margin: 20px 0 10px 0;
          width: 100%;
          text-align: right;
          button {
            padding: 10px 35px;
            background-color: var(--color-background-3);
            border-radius: var(--border-radius-size-5);
            color: var(--color-text-4);
            font-weight: 800;
            font-size: var(--size-text-7);
          }
        }
      }
      .text-danger{
        display: flex;
        flex-direction: column;
        text-align: left;
      }
    }
  }
}
