.lessonStudent {
  background-color: var(--color-background-14);
  width: 100%;
  min-height: 100vh;
  padding: 30px 50px 0 50px;
  z-index: 1;
  position: sticky;
  &__title {
    padding: 20px 30px;
    h1 {
      font-family: "Coiny", system-ui;
      color: var(--color-text-4);
      font-size: var(--size-text-16);
    }
  }
  &__content {
    padding: 0 30px;

    &--list {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 2%;
      &__item {
        background-color: var(--color-background-20);
        border-radius: var(--border-radius-size-5);
        min-height: 150px;
        width: 400px;
        margin-bottom: 30px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        padding: 20px;
        &--top{
          display: flex;
        align-items: flex-start;
        justify-content: space-between;
          &__left {
            color: var(--color-text-1);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            &--title {
              font-family: "Alike", system-ui;
              margin-bottom: 10px;
              font-weight: 600;
              font-size: var(--size-text-7);
            }
            &--body{
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              span{
  
              }
            }
          }
          &__right {
            width: 40%;
            padding: 20px 0;
            float: inline-end;
            img {
              width: 100%;
            }
          }
        }
        &--bottom {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          width: 100%;
          margin-top: 10px;
          &__btnPlay{
            margin-right: 5px;
          }
          &__btnDel{
            margin-left: 5px;
          }
        }
        
      }
    }
  }
}
.lessonBtn{
  background-color: var(--color-background-1);
            color: var(--color-text-5);
            width: 50%;
            padding: 8px 12px;
            text-align: center;
            border-radius: var(--border-radius-size-5);
            font-weight: 600;
}
.lesson2 {
  background-color: var(--color-background-3);
}
.lesson3 {
  background-color: var(--color-background-21);
}
