.successStudent {
  background-color: var(--color-background-14);

    width: 100%;
    min-height: 100vh;
    padding: 30px 50px 0 50px;
    z-index: 1;
    position: sticky;

  &__content {
    margin: auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    position: relative;
    &--img {
      position: absolute;
      left: 2%;
      top: 50%;
      width: 20%;
      img {
        width: 100%;
      }
    }
    &--info {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      // position: absolute;
      margin-top: 50px;
      top: 50%;
      &__title {
        color: var(--color-text-4);
        font-size: var(--size-text-16);
        font-weight: 800;
        text-align: center;
        margin: 60px 0;
      }
      &__box {
        display: flex;
        align-items: center;
        justify-content: center;
        &--score {
          background-color: var(--color-background-13);
          border-radius: var(--border-radius-size-4);
          font-weight: 800;
          text-align: center;
          padding: 7px;
          margin-right: 30px;
          h2 {
            padding: 20px 30px;
            color: var(--color-text-1);
            font-weight: 800;
          }
          &__content {
            background-color: var(--color-background-1);
            border-radius: var(--border-radius-size-4);
            color: var(--color-text-13);
            padding: 30px 107px;
            font-size: var(--size-text-17);
          }
        }
        &--accuracy {
          background-color: var(--color-background-17);
          border-radius: var(--border-radius-size-4);
          font-weight: 800;
          text-align: center;
          padding: 7px;
          margin-left: 30px;

          h2 {
            padding: 20px 30px;
            color: var(--color-text-1);
            font-weight: 800;
            // letter-spacing: 1.2px;
          }
          &__content {
            background-color: var(--color-background-1);
            border-radius: var(--border-radius-size-4);
            color: var(--color-text-17);
            padding: 30px 80px;
            font-size: var(--size-text-17);
          }
        }
      }
    }
  }
}
