.db_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;

  
        &_counting{
            width: 100%;
            display: flex;
            justify-content: space-around;
            &_items{
                padding: 10px;
                border-radius: 7px;
                width: 23%;
                background-color: white;
                &_top{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 10px;
                    &_left{
                       padding:  12px 20px;
                       background-color: #f5fafa;
                        font-size: 40px;
                    }
                    &_right{
                        padding: 15px;
                        font-size: 40px;
                    }
                }

                &_body{
                padding:0 10px;
                    &_note{
                        font-size: 25px;
                        font-weight: 300;
                    }
                    &_numberCount{
                        font-size: 45px;
                        &_rank{
                            font-size: 15px;
                            display:flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                    }
                }
            }

        }

        &_bott{
            background-color: white;
            border-radius: 7px;
            width: 98%;
            padding: 18px;
        }
    
}


.db_container_counting_focus_items {
    color: white !important;
    @extend .db_container_counting_items; 
    background-color: #428eff !important; 


    .db_container_counting_items_top_left {
        background-color: white !important; 
    }
}
